.speech {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
}

.direction {
  background-color: lightgrey

}

.direction:hover {
  background-color: purple;
  color: yellow;
}


.name.nora {
  color: navy;
  background-color: aliceblue;
}

.name.rank {
  color: red;
  background-color: aliceblue;
}

.name:hover {
  border-color: pink green green pink; 
  border-width: 5px;
  border-style: dotted;
  color: ghostwhite;
  text-shadow: 2px 2px 5px purple;
}

table, th, td {
  border: 1px solid;
  color: Black;
  text-align: center;
  padding: 0.5em;
}

tbody>tr:nth-child(odd) {
  background-color: lightgrey;
}
